* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex-container {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
}
body{
    background-image: url(Background_Anime_Island.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
}
.login_Form,
.register_Form {
    background-color: rgb(187, 240, 240, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.6);
    padding: 16px;
    text-align: center;
    backdrop-filter: blur(8px);
}
header {
    font-family: Impact;
    font-size: 24px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
    color: goldenrod;
    text-shadow: rgb(187, 240, 240, 0.6) 1px 1px 0px, goldenrod 2px 2px 0px;
}
.login_Form a,
.register_Form a{
    font-family: helvetica;
    text-transform: lowercase;
    font-variant: small-caps;
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    padding: 3px 8px;
    margin: 0 10px;
    text-shadow: darkslategray 0px 0px 4px;
}
.login_Form a:hover,
.register_Form a:hover {
    color: goldenrod;
    text-shadow: aliceblue 0px 0px 4px;
}
.login_Form form div,
.register_Form form div {
    display: flex;
    align-items:  center;
    margin: 5px;
}
.login_Form form div img,
.register_Form form div img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}
.login_Form form div label,
.register_Form form div label {
    text-align: right;
    margin-right: 3px;
    font-variant: small-caps;
}
.login_Form form div label{
    width: 70px;
}
.register_Form form div label{
    width: 140px;
}
.login_Form form div input,
.register_Form form div input {
    flex-grow: 1; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 1px;
}
.button {
    margin: 5px 0;
    padding: 5px;
    text-align: center;
    font-family: Helvetica;
    text-transform: uppercase;
    font-size: 12px;
    color: aliceblue;
    background-color: rgba(218, 165, 32, 1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}